body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 1em 2em;
  background-color: coral;
  border: none;
  color: white;
  border-radius: 1000px;
  cursor: pointer;
}

button.minor {
  background-color: transparent;
  border: 1px solid coral;
  color: coral;
}

input {
  padding: 1em 2em;
  border: 1px solid #e0e0e0;
  border-radius: 1000px;
  box-sizing: border-box;
  margin: 0;
}
